
main{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.groceries-app{
    width: 100%;
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.199);
    border: 2px solid;
    min-height: 200px;

    display: flex;
    flex-direction: column;
}
.groceries-app ul{
    border: 2px solid;
    list-style: none;
}
.empty{
    text-align: center;
}