.react-form{
    border: 5px solid;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}
input{
    width: 100%;
    outline: none;
}
textarea{
    resize: none;
    outline: none;
}
select{
    width: 100%;
}
button{
    background-color: blue;
}